# Ignore the virtual environment, outputs and data for PSets
PSet 1/venv/
PSet 1/data/
PSet 1/outputs/
PSet 2/venv/
PSet 2/outputs/
PSet 3/venv/
PSet 3/outputs/
Final Work/venv/
Final Work/data/
Final Work/outputs/